*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Opensans-Regular;
}
.container{
    height: 100%;
}
ul{
    margin-bottom: 0;
}

.main-nav{
    background: #1c192c;
    height: 70px;
}
.main-nav .nav-block{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-menu{
    display: flex;
}
.main-menu li{
    list-style: none;
}
.main-menu li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.phone{
    font-family: Opensans-Bold; 
    font-size: 14px;
    color: #fff;
}
.phone img{
    width: 20px;
    margin-right: 5px;
}
.phone:hover{
    text-decoration: none;
    color: #fff;
}
.wrapper{
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/bannner.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center -21px;
    padding-top: 110px;
    padding-bottom: 40px;
    background-attachment: scroll;
}
.main-banner{
    background-image: url(../img/fura.png);
    background-repeat: no-repeat;
    background-position: 80% 40%;
    background-size: 500px;
}
.main-banner h1{
    font-size: 24px;
    font-family: Opensans-Bold; 
    color: #ffb618;
    text-transform: uppercase;
}
.main-banner h6{
    font-family: Opensans-Bold; 
    color: #fff;
    font-size: 14px;
    padding-right: 45px;
    margin-bottom: 40px;
}
.main-banner .banner-text{
    font-size: 14px;
    color: #fff;
    margin-bottom: 20px;
}
.btn-darkBlue,
.btn-yellow{
    background-color: #ffb618;
    color: #1c192c;
    font-size: 14px;
    font-family: Opensans-Bold; 
    text-transform: uppercase;
    padding: 8.5px 41.5px;
    border-radius: 30px;
    display: inline-block;
}
.btn-darkBlue{
    background-color: #1c192c;
    color: #ffb618;
}
.main-banner .topBlock{
    padding-bottom: 60px;
}
.main-banner .bottomBlock h2{
    font-size: 24px;
    font-family: Opensans-Bold; 
    text-transform: uppercase;
    width: 50%;
    line-height: 35px;
    margin-top: 40px;
}
.yellowBannerText{
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 30px;
}
.yellowBannerText ul{
    margin-left: 15px;
}
.yellowBannerText ul li{
    list-style: desc;
}
.content_title{
    font-size: 24px;
    font-family: Opensans-Bold; 
    text-transform: uppercase;
    text-align: center;
    color: #1c192c;
}
.content_sub_title{
    font-size: 14px;
    color: #8c8b94;
    text-align: center;
}
.news_block{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}
.news_block .news-item{
    width: 272px;
    text-align: center;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    height: 420px;
    overflow: hidden;

}
.news_block .news-item:hover .news-img{
    height: 120px;
}
.news_block .news-item:hover .btn-yellow{
    opacity: 1;
}
.news_block .news-item:hover .news-img img{
    transform: scale(1.2)
}
.news_block .news-item .news-img{
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    transition: .5s;
}
.news_block .news-item .news-img img{
    transition: 1s;
}

.news_block .news-item .news-img:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 10px;
    background: url(../img/Rectangle.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.news_block .news-item .date{
    font-size: 14px;
    color: #8c8b94;
}
.news_block .news-item .title{
    font-size: 14px;
    font-family: Opensans-Bold; 
    line-height: 24px;
    margin-bottom: 20px;
}
.news_block .news-item  .text{
    font-size: 12px;
    color: #8c8b94;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    margin-bottom: 24px;
}
.news_block .news-item .btn-yellow{
    color: #fff;
    opacity: 0;
    transition: .3s;
}
footer{
    padding: 20px 0 40px 0;
    background: #1c192c;
    color: #ffffff;
}
.footer-block{
    justify-content: space-between;
    margin-bottom: 40px;
}
.footer_logo img{
    margin-bottom: 20px;
}
.footer-contacts address,
.footer-nav ul li a,
.footer-about p,
.footer_logo p{
    font-size: 12px;
    margin-bottom: 0;
    opacity: .3;
    color: #fff;
    line-height: 24px;
}
.footer-title{
    font-size: 14px;
    text-transform: uppercase;
    font-family: Opensans-Bold; 
    padding-bottom: 30px;
    position: relative;
    margin-bottom: 15px;
}
.footer-title.active{
    color: #ffb618;
}
.footer-about{
    width: 270px;
}
.footer-title:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70px;
    height: 1px;
    background: #fff;
    opacity: .4;

}
.footer-nav{
    width: 190px;
}
.footer-nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-nav ul li{
    width: auto;
    min-width: 60px;
    list-style: none;

}
.footer-contacts{
    width: 230px;
}
.designby {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    opacity: .8;
}
.designby a{
    color: #ffb618;

}
